.sectionProyects{
    background-color: #0a0a0a;
    min-height: 100vh;
    justify-content: center;
	align-items: center;
}

.contentProyects{
    margin: 50px;
    gap: 20px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visibleProyects {
    opacity: 1;
    transform: translateY(0);
}

.proyectsContainer{
    display: flex;
    flex-wrap: wrap;
}

.proyectCard{
    display: flex;
    background-color: #000;
}

.proyectCardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h2{
    letter-spacing: 2px;
    font-weight: 200;
    color: #fff;
}