USE [master]
GO
/****** Objeto: Database [portfolio] Fecha de script: 30/7/2026 16:45:04 ******/
CREATE DATABASE [portfolio]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [portfolio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [portfolio]
GO
/****** Objeto: Table [dbo].[ASSIGNATURES] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNATURES](
	[ASG_ID] [int] NOT NULL,
	[ASG_STD_ID] [int] NULL,
	[ASG_TITLE] [varchar](30) NULL,
	[ASG_FIRST_NOTE] [float] NULL,
	[ASG_SECOND_NOTE] [float] NULL,
	[ASG_PROMOTION] [bit] NULL,
	[ASG_SEMESTER] [int] NULL,
	[ASG_STATUS] [varchar](20) NULL,
	[ASG_YEAR] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ASG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PROFILE] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[PRO_ID] [int] NOT NULL,
	[PRO_NAME] [varchar](15) NULL,
	[PRO_SURNAME] [varchar](15) NULL,
	[PRO_DESC] [varchar](700) NULL,
	[PRO_IMG] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PROJECT_TECHNOLOGIES] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT_TECHNOLOGIES](
	[PRT_ID] [int] NOT NULL,
	[PRT_PRO_ID] [int] NULL,
	[PRT_TEC_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PROJECTS] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[PRO_ID] [int] NOT NULL,
	[PRO_TITLE] [varchar](50) NULL,
	[PRO_IMG_1] [varchar](100) NULL,
	[PRO_IMG_2] [varchar](100) NULL,
	[PRO_IMG_3] [varchar](100) NULL,
	[PRO_IMG_4] [varchar](100) NULL,
	[PRO_DESCRIPTION] [varchar](500) NULL,
	[PRO_GITHUB_URL] [varchar](100) NULL,
	[PRO_PRODUCTION_URL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[STUDIES] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDIES](
	[STD_ID] [int] NOT NULL,
	[STD_STY_ID] [int] NULL,
	[STD_TITLE] [varchar](100) NOT NULL,
	[STD_DESCRIPTION] [varchar](500) NULL,
	[STD_INSTITUTION] [varchar](50) NULL,
	[STD_START_DATE] [date] NULL,
	[STD_END_DATE] [date] NULL,
	[STD_HOURS] [int] NULL,
	[STD_CERTIFICATION_URL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[STD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[STUDY_TYPE] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY_TYPE](
	[STY_ID] [int] NOT NULL,
	[STY_NAME] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[STY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TECH_TYPES] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECH_TYPES](
	[TCY_ID] [int] NOT NULL,
	[TCY_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TECHNOLOGIES] Fecha de script: 30/7/2026 16:45:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECHNOLOGIES](
	[TEC_ID] [int] NOT NULL,
	[TEC_TCY_ID] [int] NULL,
	[TEC_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ASSIGNATURES] ([ASG_ID], [ASG_STD_ID], [ASG_TITLE], [ASG_FIRST_NOTE], [ASG_SECOND_NOTE], [ASG_PROMOTION], [ASG_SEMESTER], [ASG_STATUS], [ASG_YEAR]) VALUES (1, 1, N'Programacion I', 9.2, 9.7, 1, 1, N'Finalizada', 1)
INSERT [dbo].[ASSIGNATURES] ([ASG_ID], [ASG_STD_ID], [ASG_TITLE], [ASG_FIRST_NOTE], [ASG_SECOND_NOTE], [ASG_PROMOTION], [ASG_SEMESTER], [ASG_STATUS], [ASG_YEAR]) VALUES (2, 1, N'Arq de S.O', 9.6, 10, 1, 1, N'Finalizada', 1)
INSERT [dbo].[ASSIGNATURES] ([ASG_ID], [ASG_STD_ID], [ASG_TITLE], [ASG_FIRST_NOTE], [ASG_SECOND_NOTE], [ASG_PROMOTION], [ASG_SEMESTER], [ASG_STATUS], [ASG_YEAR]) VALUES (3, 1, N'Matematica', 9.33, 9, 1, 1, N'Finalizada', 1)
GO
INSERT [dbo].[STUDIES] ([STD_ID], [STD_STY_ID], [STD_TITLE], [STD_DESCRIPTION], [STD_INSTITUTION], [STD_START_DATE], [STD_END_DATE], [STD_HOURS], [STD_CERTIFICATION_URL]) VALUES (1, 1, N'Tecnicatura Universitaria en Programacion', N'Formación integral en desarrollo de software, bases de datos, redes y arquitectura de sistemas.', N'Universidad Tecnológica Nacional (UTN)', CAST(N'2026-03-09' AS Date), NULL, NULL, NULL)
INSERT [dbo].[STUDIES] ([STD_ID], [STD_STY_ID], [STD_TITLE], [STD_DESCRIPTION], [STD_INSTITUTION], [STD_START_DATE], [STD_END_DATE], [STD_HOURS], [STD_CERTIFICATION_URL]) VALUES (2, 2, N'Desarrollo web con PHP y MySQL', NULL, N'Educacio´n IT', CAST(N'2023-07-10' AS Date), CAST(N'2023-10-02' AS Date), 40, NULL)
INSERT [dbo].[STUDIES] ([STD_ID], [STD_STY_ID], [STD_TITLE], [STD_DESCRIPTION], [STD_INSTITUTION], [STD_START_DATE], [STD_END_DATE], [STD_HOURS], [STD_CERTIFICATION_URL]) VALUES (3, 2, N'ReactJs', NULL, N'Educacio´n IT', CAST(N'2023-12-05' AS Date), CAST(N'2024-01-16' AS Date), 40, NULL)
GO
INSERT [dbo].[STUDY_TYPE] ([STY_ID], [STY_NAME]) VALUES (1, N'Universitario')
INSERT [dbo].[STUDY_TYPE] ([STY_ID], [STY_NAME]) VALUES (2, N'Curso')
INSERT [dbo].[STUDY_TYPE] ([STY_ID], [STY_NAME]) VALUES (3, N'Certificacion')
GO
INSERT [dbo].[TECH_TYPES] ([TCY_ID], [TCY_NAME]) VALUES (1, N'Frontend')
INSERT [dbo].[TECH_TYPES] ([TCY_ID], [TCY_NAME]) VALUES (2, N'Backend')
INSERT [dbo].[TECH_TYPES] ([TCY_ID], [TCY_NAME]) VALUES (3, N'Bases de Datos')
GO
INSERT [dbo].[TECHNOLOGIES] ([TEC_ID], [TEC_TCY_ID], [TEC_NAME]) VALUES (1, 1, N'HTML5')
INSERT [dbo].[TECHNOLOGIES] ([TEC_ID], [TEC_TCY_ID], [TEC_NAME]) VALUES (2, 1, N'CSS3')
INSERT [dbo].[TECHNOLOGIES] ([TEC_ID], [TEC_TCY_ID], [TEC_NAME]) VALUES (3, 1, N'CSS Modules')
GO
ALTER TABLE [dbo].[ASSIGNATURES]  WITH CHECK ADD  CONSTRAINT [FK_ASG_STD_ID] FOREIGN KEY([ASG_STD_ID])
REFERENCES [dbo].[STUDIES] ([STD_ID])
GO
ALTER TABLE [dbo].[ASSIGNATURES] CHECK CONSTRAINT [FK_ASG_STD_ID]
GO
ALTER TABLE [dbo].[PROJECT_TECHNOLOGIES]  WITH CHECK ADD  CONSTRAINT [FK_PRT_PRO_ID] FOREIGN KEY([PRT_PRO_ID])
REFERENCES [dbo].[PROJECTS] ([PRO_ID])
GO
ALTER TABLE [dbo].[PROJECT_TECHNOLOGIES] CHECK CONSTRAINT [FK_PRT_PRO_ID]
GO
ALTER TABLE [dbo].[PROJECT_TECHNOLOGIES]  WITH CHECK ADD  CONSTRAINT [FK_PRT_TEC_ID] FOREIGN KEY([PRT_TEC_ID])
REFERENCES [dbo].[TECHNOLOGIES] ([TEC_ID])
GO
ALTER TABLE [dbo].[PROJECT_TECHNOLOGIES] CHECK CONSTRAINT [FK_PRT_TEC_ID]
GO
ALTER TABLE [dbo].[STUDIES]  WITH CHECK ADD  CONSTRAINT [FK_STD_STY_ID] FOREIGN KEY([STD_STY_ID])
REFERENCES [dbo].[STUDY_TYPE] ([STY_ID])
GO
ALTER TABLE [dbo].[STUDIES] CHECK CONSTRAINT [FK_STD_STY_ID]
GO
ALTER TABLE [dbo].[TECHNOLOGIES]  WITH CHECK ADD  CONSTRAINT [FK_TEC_TCY_ID] FOREIGN KEY([TEC_TCY_ID])
REFERENCES [dbo].[TECH_TYPES] ([TCY_ID])
GO
ALTER TABLE [dbo].[TECHNOLOGIES] CHECK CONSTRAINT [FK_TEC_TCY_ID]
GO
USE [master]
GO
