
.carouselContainer {
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
}

.carouselContainer :global(.carousel-inner),
.carouselContainer :global(.carousel-item) {
  height: 100%;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 730px){
    .carouselContainer{
        height: 300px;
    }
}