.headerContainer{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: #000;
    min-height: 5vh;
    position: sticky;
    border-bottom: 1px solid rgb(34, 34, 34);
    justify-content: space-between;
    z-index: 100;
}

    .headerContainer a {
        color: #fff;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 20px;
        font-size: 1.2rem;
    }

    .header a:hover {
        opacity: 0.7;
    }

.headerContainer a.closeSession {
    color: #ff4d4d;
    cursor: pointer;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hyperLinksContainer{
    display: flex;
    margin: 5px 0;
    width: 100%;
    justify-content: end;
}

.hyperLinksContainer a{
    font-size: 0.9rem;
}

.hyperLinksContainer a:hover{
    opacity: 0.7;
}

.hyperLinksAdm{
    display: flex;
    border-left: 1px solid white;
}

.hyperLinksAdm a{
    opacity: 50%;
}

.hyperLinksAdm a:hover{
    opacity: 100%;
}

.iconBurgerCss{
    display: none;
    filter: brightness(0) invert(1);
    margin: 10px;
    cursor: pointer;
}

@media(max-width: 576px){

    .hyperLinksContainer{
        display: none;
    }

    .iconBurgerCss{
        display: block;
    }
    
    .responsive{
        display: flex;
    }

    .headerContainer.responsive{
        flex-direction: column;
    }

    .hyperLinksContainer.responsive{
        flex-direction: column;
    }

    .hyperLinksAdm{
        border-left: none;
    }
}