.header {
    display: flex;
    align-items: center;
    background-color: #000;
    min-height: 5vh;
    position: sticky;
    border-bottom: 1px solid rgb(34, 34, 34);
}

    .header a {
        color: #fff;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 20px;
        font-size: 1rem;
    }

    .header a:hover {
        opacity: 0.7;
    }